In [76]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import read_csv
data=pd.Series([5,2,7])
print(data)

#seems to work whne I used squarebrackets instead of curvybrackets
#I probably misread the original instructions because the font was 
#so small in the pdf text

0    5
1    2
2    7
dtype: int64


#create list of dictionaries, each dict is a row
#also possible to make list of lists, then dataframe
#then make pandas dataframe from list

In [77]:
d = [
      [92,6,4.8,2060,49,1953]
     ,[70,6,5.1,2660,36,1955]
     ,[58,6,6.4,2530,49,1939]
     ,[99,2,6.5,1740,28,1942]       
     ,[55,8,2.3,3520,77,1989]    
     ,[76,4,5.7,3750,55,1937]       
     ,[62,6,4.2,2720,43,1979]      
     ,[92,6,6.9,3130,39,1905]     
     ,[71,5,4.8,2100,54,1995]
     ,[70,6,4.8,3340,29,1966]
     ,[77,4,7.7,2430,53,1938]
     ,[79,4,5.7,2700,47,1993]
]

df=pd.DataFrame(d,
                columns=['weight','exercise','choleseterol','income','happiness','birthyear'])

df.index = np.arange(1, len(df) + 1)
df.index.name = 'ID'
print(df)

    weight  exercise  choleseterol  income  happiness  birthyear
ID
1       92         6           4.8    2060         49       1953
2       70         6           5.1    2660         36       1955
3       58         6           6.4    2530         49       1939
4       99         2           6.5    1740         28       1942
5       55         8           2.3    3520         77       1989
6       76         4           5.7    3750         55       1937
7       62         6           4.2    2720         43       1979
8       92         6           6.9    3130         39       1905
9       71         5           4.8    2100         54       1995
10      70         6           4.8    3340         29       1966
11      77         4           7.7    2430         53       1938
12      79         4           5.7    2700         47       1993

In [78]:
df.describe() #describes all the basic required statistics like mean, std etc...

          weight   exercise  choleseterol       income  happiness    birthyear
count  12.000000  12.000000     12.000000    12.000000  12.000000    12.000000
mean   75.083333   5.250000      5.408333  2723.333333  46.583333  1957.583333
std    13.813421   1.544786      1.419000   614.807188  13.283334    27.566311
min    55.000000   2.000000      2.300000  1740.000000  28.000000  1905.000000
25%    68.000000   4.000000      4.800000  2347.500000  38.250000  1938.750000
50%    73.500000   6.000000      5.400000  2680.000000  48.000000  1954.000000
75%    82.250000   6.000000      6.425000  3182.500000  53.250000  1981.500000
max    99.000000   8.000000      7.700000  3750.000000  77.000000  1995.000000

In [79]:
#get average-wage into a variable
avg = df["income"].mean()
avg

2723.3333333333335

In [80]:
#iterates the rows of the dataframe, only column id, and column income
for ind,row in df.iterrows(): #iterate thru rows in dataframe
    print("Person" , ind , end='' ) #prints on the same row
    print(" ", end='') #prints on the same row
    if row["income"]>= avg: 
        print("higher than avg") 
    else: 
        print("lower than avg")

Person 1 lower than avg
Person 2 lower than avg
Person 3 lower than avg
Person 4 lower than avg
Person 5 higher than avg
Person 6 higher than avg
Person 7 lower than avg
Person 8 higher than avg
Person 9 lower than avg
Person 10 higher than avg
Person 11 lower than avg
Person 12 lower than avg

# I checked that csv file in excel and with filter

# problem is that some of the columns have datavalues,
# which have multiple dot decimal separators inside that floating point 
# value
# this, makes those floating point values not really readable
# I saw this from looking at the csv file in excel
# columns which have those extra dot decimals 
# bu, sc, pot, 


# also,

# wbcc column has tab+? (instead of only ?)

# rbcc column has tab+?

# dm column has tab+yes and tab+no

# cad column has tab+no

# pcv column  had tab+?

# class column has ckd+tab

# I tried fixing those problems manually from excel, and afterwards I just keep working with that already downloaded kd.csv file and 
# read_csv from the folder/file itself (I dont know what the exact problem is with downloading)

In [81]:
url = r'https://oma.metropolia.fi/delegate/download_workspace_attachment/6300769/kd.csv'
dataframe = pd.read_csv("kd.csv",sep=";")
#dataframe.tail()

#filter the dataframe
is_ckd = dataframe["class"]=="ckd" #create filter to include ckd
newframe = dataframe[is_ckd] #apply filter to dataframe (excel style, but done in pandas)
#newframe["age"].mean() #this causes the errors could not convert typeError

# I couldn't figure out how to do the last part about basic statistics
# I kept getting errors like "could not convert to numeric"
# when calculating mean,std etc... probably because of the questionmark values
# also, correlation matrix was little bit difficuult to do, I didn'ät manage to do it